#divided-viewport
%table.slider-grid{style: ('display: none' if ENV['SLIDERS'].blank?)}
  %tr
    %th Description
    %th Slider
    %th Value
    %th Default
  - @slider_vars.each do |name,default|
    %tr
      %td= name
      %td
        .slider{:'data-variable' => name, :'data-default' => default}
      %td{:id => "#{name}-display"}= default
      %td= default
%script{:type=>"text/javascript"}= "window._divided_player_uuid = #{@player_uuid.inspect}; window._divided_room = JSON.parse(#{@room.inspect})".html_safe
= javascript_include_tag 'html5'
